.loader-container {
  padding: 0.2rem;
}

.loader {
  width: 0.8rem;
  height: 0.8rem;
  border: 2px dotted #000;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}